{% extends 'base.html' %}
{% block content %}
{% if current_user.is_authenticated and not other %}
<br><div class="row">
    <a class="col btn btn-secondary" href="/add_post">Новая запись</a>
    <a class="col btn btn-primary" href="/posts/{{current_user.id}}">Мои записи</a>
</div>
{% endif %}
{% for item in posts %}
<div class="container rounded bg-post mt-4 pt-1">
    <p><a name="{{ item[0].id }}"></a></p>
    <h5>{{ usr[item[0].creator - 1].name }} {{ usr[item[0].creator - 1].surname }}</h5>
    <p style="color: dimgrey;">{{ item[0].modified_date }}</p>
    <div class="row">
        <div class="col">
            <p class="form-control">{{ item[0].text }}</p>
        </div>
    </div>
    <div class="row">
        {% if item[1] %}
        <div class="col">
            <img class="img-thumbnail" src="../static/img/{{ item[2] }}" alt="Photo">
        </div>
        {% endif %}
    </div>
    <div class="row row-cols-2">
        {% if item[0].id not in liked and item[0].id != 0 %}
        <div class="col">
            <h5 class="text-danger">Лайки: {{ item[0].likes }}  {% if current_user.is_authenticated and not other %}<a class="btn btn-danger" href="/add_like/{{ item[0].id }}">♡</a>{% endif %}</h5>
        </div>
        {% elif item[0].id != 0 %}
        <div class="col">
            <h5 class="text-danger">Лайки: {{ item[0].likes }}  {% if current_user.is_authenticated and not other %}<a class="btn btn-danger" href="/delete_like/{{ item[0].id }}">♥</a>{% endif %}</h5>
        </div>
        {% endif %}
        {% if current_user.id == item[0].creator or current_user.id == 1 or current_user.id == 2 %}
        <div class="col text-right">
            <a class="btn btn-danger" href="/post_delete/{{ item[0].id }}">Удалить запись</a>
        </div>
        {% endif %}
    </div>
</div>
{% endfor %}
{% endblock %}