{% extends "base.html" %}

{% block content %}
<br><h1 class="text-center">Регистрация</h1>
<div action="" method="post">
    {{ form.hidden_tag() }}
    <div>
        <h3>{{ form.email.label }}</h3>
        <p>{{ form.email(class="form-control", type="email") }}</p><br>
        {% for error in form.email.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </div>
    <div>
        <h3>{{ form.password.label }}</h3>
        <p>{{ form.password(class="form-control", type="password") }}</p><br>
        {% for error in form.password.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </div>
    <div>
        <h3>{{ form.password_again.label }}</h3>
        <p>{{ form.password_again(class="form-control", type="password") }}</p><br>
        {% for error in form.password_again.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </div>
    <div>
        <h3>{{ form.name.label }}</h3>
        <p>{{ form.name(class="form-control") }}</p><br>
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </div>
    <div>
        <h3>{{ form.surname.label }}</h3>
        <p>{{ form.surname(class="form-control") }}</p><br>
        {% for error in form.surname.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </div>
    <div class="row">
        <p class="col">{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div class="col">{{ message }}</div>
    </div>
</div>
</form>
{% endblock %}